.first-section::before {
    @include large {
        max-width: 30%;
        height: 90vh;
        border-bottom-left-radius: 200px;
        left: -3em;
    }

    content: "";
    position: absolute;
    background-image: $left-box-bg-color;
    width: 100%;
    max-width: 50%;
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 200px 0; 
    z-index: -1;   
    top: 0;
    left: 0;
}

.first-section {
     @include large {
        margin: auto;
        max-width: 50%;
        width: 100%;
    }
}

.phone-frame {
    @include large {
        margin: auto;
        margin: auto;
        margin-right: 7em;
        margin-top: 5em;
    }
    background-color: $app-background;
    position: relative;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 3em auto;
    margin-top: 16%;
    border-radius: 25px;
    border: $white solid 10px;
    box-shadow: 4px 34px 59px #cfcfcf;
        
        .header {
            background-image: $app-header-bg;
            border-radius: 18px 18px 7px 7px;
            padding-bottom: 0.7em;
            border-color: $white;
            border-style: none;
            outline: none;

            .white-block {
                width: 120px;
                height: 20px;
                background: $white;
                border-style: none;
                border-radius: 0 0 15px 15px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
                margin-bottom: auto;
                border-color: $white;
            }

            .contact {
                padding: 0 7px;
                margin-top: 0.8em;
                margin-left: 0;
                margin-right: 0;
                align-items: center;
                display: flex;
                justify-content: space-between;

                .contact-details {
                    margin: 0;
                    align-items: center;
                    display: flex;

                    .svg {
                        color: $white;
                        margin: auto; 
                        transform: scale(0.7);
                        cursor: pointer;
                    }

                    .svg path {
                        stroke-width: 30px;
                    }  

                    .contact-image-box {
                        padding: 0 5px;
                    }
                    
                    .contact-image {
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        border: $white solid 2px;
                    }

                    .contact-description {
                        line-height: 1em;
                        margin: auto;
                        padding: 0 3px;

                        .sub-heading {
                            font-size: $sub-heading-size;
                            color: $white;
                        }

                        p {
                            font-size: $mobile-paragraph;
                            color: $sub-heading;
                        }
                    }
                }

                .menu-icon {
                        color: $white;
                        cursor: pointer;
                    }
            }

        }

        .text-box-left {
            padding: 7px;
            background-color: $placeholder;
            width: fit-content;
            max-width: 57%;
            margin: 10px;
            border-radius: 8px;

            p {
                color: $chat-left;
                font-size: $mobile-paragraph;
                padding: 3px 3px;
            }
        }

        .text-attachment {
            display: flex;
            justify-content: end;
            max-width: 57%;
            margin: 0 0 0 auto;

            img {
                width: 40px;
                height: auto;
                border-radius: 10px;
                margin: 4.5px;
            }
        }

        .text-box-right {
            padding: 5px 2px;
            background-color: $white;
            width: 50%;
            max-width: 57%;
            margin: 0 5px 10px auto;
            border-radius: 5px;
            box-shadow: 5px 40px 100px #cfcfcf;

                p {
                color: $chat-right;
                font-size: $mobile-paragraph;
                padding: 3px 7px;
            }
        }

        .radio-btn {
            max-width: 63%;
            height: auto;
            width: auto;
            margin: 10px;
            display: flex;
            align-items: center;
            background: $radio-btn;
            padding: 10px 13px;
            color: $white;
            font-weight: 300;
            justify-content: space-between;
            border-radius: 12px 12px 12px 5px;

                .radio-info {
                    display: flex;
                    align-items: center;
                    margin: 0;
                        p {
                            font-size: $mobile-paragraph;
                            font-weight: 300;
                            padding: 0 3px;
                            opacity: 0.7;
                        }
                }
                .p::after {
                    content: "$29";
                    font-weight: 500;
                }
                .hourly-fee::after {
                    content: "$49";
                    font-weight: 500;
                }
                svg {
                    opacity: 0.18;
                }
            }
        
        .search-bar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 10px;
            position: relative;
            // background: $white;
            // border-radius: 24px;

            input {
                width: 100%;
                padding: 1.2em 1.5em;
                font-size: $mobile-paragraph;
                border-radius: 24px;
                border: none;
                outline: none;
                background: $white;
            }

            button {
                position: absolute;
                border-radius: 50%;
                padding: 4px;
                outline: none;
                border: none;
                background: $submit-btn-bg;
                color: $white;
                width: 25px;
                height: 25px;
                cursor: pointer;
                margin: 3px;

                svg {
                    stroke-width: 100px;
                    transform: scale(0.6);
                }
            }
        }
}

.second-section::before {
    @include large {
        max-width: 30%;
        right: -7em;
        height: 100vh;
        top: 20vh;
        bottom: auto;
        border-top-right-radius: 200px;
    }
    content: "";
    position: absolute;
    background: $light-violet;
    width: 100%;
    max-width: 50%;
    height: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    border-radius: 200px 0 0 0;
    z-index: -1; 
    opacity: 0.05;  
}

.second-section {
     @include large {
        margin: auto;
        max-width: 50%;
        width: 100%;
    }
}
.content {
    @include large {
        text-align: left;
        margin: 0;
        padding: 0;
        max-width: 450px;
    }
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-align: center;

    h1 {
        font-size: $main-heading-size;
        margin: 1em auto;
        color: $main-heading;
    }
    p {
        line-height: $paragraph-height;
    }
}