//Primary
//color gradients

$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);
$left-box-bg-color: linear-gradient(to top, hsl(264, 100%, 61%) -12%, hsl(293, 100%, 63%) 155%);

//text colors

$main-heading: hsl(271, 36%, 24%);
$sub-heading: hsl(276, 100%, 81%);
$paragraph: hsl(270, 7%, 64%);
$placeholder: hsl(206, 6%, 79%);
$chat-right: hsl(271, 15%, 43%);
$chat-left: hsl(276, 55%, 52%);

//text fonts

$base-font-size: 16px;
$main-heading-size: $base-font-size * 2.3;
$paragraph-height: 1.8em;
$sub-heading-size: 12px;
$mobile-paragraph: ($base-font-size / 2);

//Secondary

$white: hsl(0, 0%, 100%);
$app-background: hsl(270, 20%, 96%);
$app-header-bg: linear-gradient(to right, hsl(264, 100%, 61%) -10%, hsl(293, 100%, 63%) 115%);
$submit-btn-bg: hsl(271, 36%, 24%);
$radio-btn-outline: hsl(289, 100%, 72%);
$radio-btn: linear-gradient(90deg, $radio-btn-outline 20%, $submit-btn-bg);